.control-rod-status {
    background-color: var(--greenMuted);
    color: var(--foregroundColor);
    font-size: 1.258rem;
    display: flex;
    flex-flow: wrap;
    border-radius: 5px;
    margin-top: 1.618rem;
}

.rod-title {
    padding: 1em;
    display: flex;
}
.lock-option {
    padding: 1em;
    display: flex;
    flex-grow: 100;
    justify-content: right;
}

.break {
    width: 100%;
}

.rods {
    background-color: #dae1d8;
    color: var(--textColor);
    font-size: 1rem;
    padding: 1em 1.618em 0.5em 1.618em;
    text-align: start;
    border-radius: 0px 0px 0px 5px;
    width: calc(100% - 1.618em);
}
.rods input {
    width: calc(100% - 1.618em);
}
.rods p {
    padding: 0px;
    margin: 0px;
}

.control-rod-slider {
    display: flex;
}
.control-rod-slider span {
    width: 14rem;
}