#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--greenBright);
  padding: 1rem;
}

.logoBar {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.actions button {
  text-decoration: none;
  padding: 15px;
  margin: 0px 3px;
  font-size: 1rem;
}

.logo {
  width: 5rem;
  margin-right: 1rem;
}

.title {
  font-size: 1.618rem;
}

.reactorSetup p {
  display: flex;
  justify-content: center;
  font-size: 1.618rem;
}

.reactorSetupContent {
  padding: 2px 1rem;
}

.reactorSetupActions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reactorSetupActions button {
  padding: 1rem;
  margin: 0.2rem;
  width: 100%;
}
