:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --foregroundColor: #F0F4EF;
  --textColor: #131415;
  --activeColor: #E05263;
  --greenMuted: #6F9283;
  --greenBright: #77ffdf;

  color-scheme: light;
  color: var(--textColor);
  background-color: var(--foregroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #6F9283;
  text-decoration: inherit;
}
a:hover {
  color: #77FF94;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}